-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: smoking_detection
-- ------------------------------------------------------
-- Server version	9.5.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cameras`
--

DROP TABLE IF EXISTS `cameras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cameras` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `camera_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `camera_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `camera_source` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  `is_online` tinyint(1) DEFAULT NULL,
  `last_seen` datetime DEFAULT NULL,
  `api_key` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `confidence_threshold` float DEFAULT NULL,
  `iou_threshold` float DEFAULT NULL,
  `enable_alert` tinyint(1) DEFAULT NULL,
  `enable_screenshot` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `nms_threshold` float DEFAULT '0.5',
  `draw_bbox` tinyint(1) DEFAULT '1',
  `detect_mode` enum('real_time','low_power') COLLATE utf8mb4_unicode_ci DEFAULT 'real_time',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_cameras_api_key` (`api_key`),
  KEY `user_id` (`user_id`),
  KEY `ix_cameras_id` (`id`),
  CONSTRAINT `cameras_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cameras`
--

LOCK TABLES `cameras` WRITE;
/*!40000 ALTER TABLE `cameras` DISABLE KEYS */;
INSERT INTO `cameras` VALUES (2,1,'颲血摰斗?敶望?','usb','{\"deviceId\":\"a0b459fe0bcc9f2f1d8438b2d2c45269992cf768eef93e68f1b8d7c48f3c76e8\",\"label\":\"ASUS FHD webcam (3277:0096)\",\"index\":2}','1璅之撱?,1,0,'2025-11-23 11:12:41','Ye2-NmHa9uIPX87B7pybBcP0CJsVffO5sMXQmvcA43A',0.7,0.5,1,1,'2025-10-24 22:49:30','2025-11-23 11:12:41',0.5,1,'real_time'),(3,1,'?砍蝡?PC)','local','{\"deviceId\":\"a0b459fe0bcc9f2f1d8438b2d2c45269992cf768eef93e68f1b8d7c48f3c76e8\",\"label\":\"ASUS FHD webcam (3277:0096)\",\"index\":2}','',1,0,'2025-11-22 02:18:50','zfFB9aQO2FcYLUm4nfqIOhSb-XA79_TzcJzpEFiiAC4',0.7,0.5,1,1,'2025-10-24 23:30:04','2025-11-22 02:18:50',0.5,1,'real_time'),(7,1,'銝剛頝?摮豢敺?)?蔣璈?,'usb','{\"deviceId\":\"888087e466b2009e8546fbe9c7d0e7b188e252a50f8ca8f69d5485bc19f3e869\",\"label\":\"WEB CAM (1b3f:1167)\",\"index\":0}','擐祈楝??,1,0,'2025-11-23 11:13:11','kdBvfhY9nnjwJeH5pEoqGBCvYZnjuBe4MD5r4AYWXrc',0.7,0.5,1,1,'2025-11-02 19:42:18','2025-11-23 11:13:11',0.5,1,'real_time'),(14,1,'test','usb','{\"deviceId\":\"888087e466b2009e8546fbe9c7d0e7b188e252a50f8ca8f69d5485bc19f3e869\",\"label\":\"WEB CAM (1b3f:1167)\",\"index\":0}','',1,0,'2025-11-23 09:58:45','y299mB--1wz_webf7IXQzeKAtJkPRxwgK0O1QkE6GqA',0.7,0.5,1,1,'2025-11-22 20:49:56','2025-11-23 11:13:58',0.5,1,'real_time');
/*!40000 ALTER TABLE `cameras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detections`
--

DROP TABLE IF EXISTS `detections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detections` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `camera_id` int NOT NULL,
  `timestamp` datetime DEFAULT NULL,
  `has_person` tinyint(1) DEFAULT NULL,
  `has_cigarette` tinyint(1) DEFAULT NULL,
  `is_smoking` tinyint(1) DEFAULT NULL,
  `confidence` float DEFAULT NULL,
  `screenshot_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `detection_details` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `camera_id` (`camera_id`),
  KEY `ix_detections_timestamp` (`timestamp`),
  KEY `ix_detections_id` (`id`),
  CONSTRAINT `detections_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `detections_ibfk_2` FOREIGN KEY (`camera_id`) REFERENCES `cameras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1092 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detections`
--

LOCK TABLES `detections` WRITE;
/*!40000 ALTER TABLE `detections` DISABLE KEYS */;
/*!40000 ALTER TABLE `detections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `confidence_threshold` float DEFAULT '0.5',
  `nms_threshold` float DEFAULT '0.45',
  `draw_bbox` tinyint(1) DEFAULT '1',
  `detect_mode` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'real_time',
  `save_location` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'server',
  `save_days` int DEFAULT '30',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hashed_password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  `is_admin` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_email` (`email`),
  UNIQUE KEY `ix_users_username` (`username`),
  KEY `ix_users_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','admin@example.com','$2b$12$oXQ8fwYHXoyBQRUYcozPn.KiRusuJFCtZhhsWu6XKYsdMYCiqWDLe','蝟餌絞蝞∠???,1,0,'2025-10-24 22:33:58','2025-10-24 22:33:58'),(2,'lynn','bkzero0000@gmail.com','$2b$12$BlfvW3agEcrASsnragmGh.AM6didPqLF7Lp0mS3blUxvUqR/g9CdC','撱?0',1,0,'2025-10-30 15:29:15','2025-10-30 15:29:15'),(3,'撘琪X','b.kzero0000@gmail.com','$2b$12$edExVkN8TkTVLUuY2PMeieV/DMAgpUPE3tisB/FBy5f5V7BxG0mXu','',1,0,'2025-10-31 16:54:38','2025-10-31 16:54:38');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-23 14:48:29
